<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/jquery-1.8.3.min.js" type="text/javascript" charset="utf-8" ></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  	<script type="text/javascript" src='/javascripts/webdatabase.js'></script>
  </body>
</html>
